<!--- landing page --->
<div class="container-fluid bg  d-flex justify-content-center">
    <img src='/images/PCFull_D.png' class="landingIMG img-fluid animated bounce">
</div>

<!-- after landing page -->
<div class="container" id="pt2">
    <div class="row resourceH">
        <p data-aos="fade-in">We Provide The Resources...</p>

    </div>
    <div class="row justify-content-end">

        <p class="para2" data-aos="fade-left" data-aos-delay="20"> .. to stay organised</p>

    </div>
    <div class="row justify-content-end">

        <p class="para3" data-aos="fade-left" data-aos-delay="100"> .. to conquer tasks</p>

    </div>

</div>
<!----- After Landing page End ---------->

<!-- Think Big Section ----->

<div class="container" id="thinkBig">
    <div class="row thinkBigH">
        <p data-aos="fade-in">Don't be afraid to..</p>

    </div>
    <div class="row justify-content-center">

        <img src="/images/thinkBig_D.png" class="thinkBigIMG">

    </div>
    <div class="row justify-content-center">

        <p class="thinkBigTXT_1"> With us it's easy to keep<br> track of all the files that you<br> may have</p>

    </div>
    <div class="row justify-content-center">

        <p id="thinkBigTXT_2"> You're just a few clicks away from, a stress-free <br> and <span class="organise" data-aos="fade-in"> ORGANISED</span> life.</p>

    </div>
    <!--- Button section ----->
    <div class="row justify-content-center signUp_1">
        <p class="topBtn"> Convinced Yet?</p>
    </div>
    <div class="row justify-content-center mt-0">
        <button type="button" class="btn-dark btn-lg mt-0">Sign Up</button>
    </div>
    <div class="row justify-content-center ">
        <p class="bottomBtn"> No installation Required!</p>
    </div>


</div>
<!----- Think Big Section END---------->

<!--- keep-Organised section ------->

<div class="container pt-5">
    <div class="row">
        <div class="col-sm-12">
            <p class="organisedHdr"> Get Organised..</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <img src="/images/Float_D.png" class="floatIMG img-fluid mx-auto d-block"></div>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="organisedTxt"> Stay Organised </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="wuTxt" data-aos="fade-up"> WITH US </p>
        </div>
    </div>
</div>

<!--- Button Section --->
<div class="row justify-content-center signUp_1">
    <p class="topBtn"> Still Reading This? Sign Up Today</p>
</div>
<div class="row justify-content-center">
    <button type="button" class="btn-dark btn-lg">Sign Up</button>
</div>
<!--- Butten section END --->
<!--- keep-Organised section END ------->
