<!--- landing page --->
<div class="container-fluid bg  d-flex justify-content-center">
    <img src='/images/PCFull_D.png' class="landingIMG img-fluid animated bounce">
</div>

<!-- after landing page -->
<div class="container" id="pt2">
    <div class="row resourceH">
        <p data-aos="fade-in">We Provide The Resources...</p>

    </div>
    <div class="row justify-content-end">

        <p class="para2" data-aos="fade-left" data-aos-delay="20"> .. to stay organised</p>

    </div>
    <div class="row justify-content-end">

        <p class="para3" data-aos="fade-left" data-aos-delay="100"> .. to conquer tasks</p>

    </div>

</div>
<!----- After Landing page End ---------->

<!-- Think Big Section ----->

<div class="container text-center" id="thinkBig">
    <div class="row justify-content-center pt-5 mb-5">
        <p class="exTxt_1">There comes a time when you need to access files from the mysterious cloud.<br> A handful of time is spent transfering, deleting, organising and re-organising.
            <br><br> Organisation Doesn't come easy. <br> With our cloud service we help you manage the cloud services in one go.<br>
            <br> Whatever you need to do. We will help you.<br></p>

    </div>
    <div class="row">
        <div class="col-sm-6 transferTxt movementTxt">
            <p data-aos="fade-right">Transfer Files.</p>
        </div>
        <div class="col-sm-6 deleteTxt movementTxt">
            <p data-aos="fade-left">Delete Files.</p>
        </div>
    </div>
    <div class="row createNameTxt movementTxt">
        <div class="col-12">
            <p class="animated infinite bounce">Create.Name.Save</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 signUp_1">
            <p> We work hard so you don't have to.</p>
        </div>
    </div>
    <div class="row justify-content-center">

        <p class="thinkBigTXT_1"> With us it's easy to keep<br> track of all the files that you<br> may have</p>

    </div>
    <div class="row justify-content-center">

        <p id="thinkBigTXT_2"> You're just a few clicks away from, a stress-free <br> and <span class="organise" data-aos="fade-in"> ORGANISED</span> life.</p>

    </div>
    <!--- Button section ----->
    <div class="row justify-content-center signUp_1">
        <p class="topBtn"> Convinced Yet?</p>
    </div>
    <div class="row justify-content-center mt-0">
        <button type="button" class="btn btn-dark">Sign Up</button>
    </div>
    <div class="row justify-content-center ">
        <p class="bottomBtn"> No installation Required!</p>
    </div>


</div>
<!----- Think Big Section END---------->

<!--- keep-Organised section ------->

<div class="container pt-5">
    <div class="row">
        <div class="col-sm-12">
            <p class="organisedHdr"> Get Organised..</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <img src="/images/Float_D.png" class="floatIMG img-fluid mx-auto d-block"></div>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="organisedTxt"> Stay Organised </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="wuTxt" data-aos="fade-up"> WITH US </p>
        </div>
    </div>
</div>

<!--- Button Section --->
<div class="row justify-content-center signUp_1">
    <p class="topBtn"> Still Reading This? Sign Up Today</p>
</div>
<div class="row justify-content-center">
    <button type="button" class="btn btn-dark btn-lg">Sign Up</button>
</div>
<!--- Butten section END --->
<!--- keep-Organised section END ------->
