<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--- main styleshee -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- styleseet for w3.css-->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- stylesheet for AOS--->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- Animate.css --->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <!-- stylesheet for bootstrap --->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>
    <!----------- NAVBAR ----------------->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top shadow p-3 mb-5" style="background-color: #2D2D35; color:#7F7B82;">
        <a class="navbar-brand " href="#"><img class="logo" src="/images/CloudLogo.png" width="20%" > Cloud</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link " href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/register">Sign Up</a>
                </li>
            </ul>
        </div>
    </nav>

    <!--------- END- NAVBAR -------------->
    {{{body}}}

    <!---------------- Footer ----------------->

    <footer class="page-footer font-medium mt-5 pt-5">
        <div class="container-fluid text-center tx-md-left ">
            <div class="row">

                <div class="col-md-6 mt-md-0 mt-3">
                    <h1 class="text-uppercase"> Cloud</h1>

                </div>
                <hr class="clearfix w-100 d-md-none pb-3">
                <div class="col-md-3 mb-md-0 mb-3">
                    <h5 class="text-uppercase">Learn More</h5>
                    <ul class="list-unstyled">
                        <li class="nav-item">
                            <!--- Link to ABOUT US page --->
                            <a href="#"> About Us</a>
                        </li>
                        <li class="nav-item">
                            <!--- Link to SIGN UP page --->
                            <a href="#"> Sign Up</a>
                        </li>
                        <li class="nav-item">
                            <!--- Link to GITHUB page --->
                            <a href="#"> Pro.js</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-copyright text-center py-3">© Copyright 2019:
                <a href="#"> Pro.js</a>
            </div>
        </div>

    </footer>
    <!---------------- END - Footer ----------------->


    <!---------------------- LINKS ---------------------------------->

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <!--- AOS ---->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>

    <!-- main Javascript file ---->
    <script src="/javascripts/main.js"></script>
    <!----------------------  END - LINKS ---------------------------------->
</body>

</html>
