/* ----------General -------------*/

body,
html {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: 'circular' !important;
}

a {
    text-decoration: none;
}

.btn {
    border-radius: 50px !important;
    padding: 10px 50px !important;
}


/* ------------GENERAL END ----------------*/

/* ------------ Navbar ------------*/

.navbar-brand {
    font-family: 'quicksand';
    font-size: 2em !important;
    color: #707070 !important;
}

.logo {
    padding: 0;
    margin-bottom: 5px;
}

.navbar {
    font-family: 'circular';
    font-size: 1em;
}

.nav-item {
    padding: 0 20px;
    font-size: 1.2em;
}

/* ------------ Navbar END ------------*/

/* ------------ FOOTER ------------*/

.page-footer {

    background-color: rgb(0, 0, 0);
    font-family: 'circular';
    color: #444554;
}

/* ------------ FOOTER END ------------*/

/* ------------ Landing Page ------------*/

/* This is the landing page's dark background */

.bg {
    background-image: url('/images/Background_D.svg');
    height: 100%;
    width: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

}

/* Main Pc */

.landingIMG {
    position: absolute;
    bottom: 0;
    width: 60%;
    height: 60%;
}

/* ------------ Landing Page END ------------*/

/* After landing page [pt2] */

#pt2 {
    padding-top: 10%;
    padding-bottom: 10%;
}

.row {
    font-family: 'circular';
}

.resourceH {
    font-size: 5em;
    padding-bottom: 5%;
}

.para2,
.para3 {
    color: #7F7B82;
    font-size: 5em;
}

/*After LandingPage End*/

/*--------------------- Think Big Section ------------*/

.cloudsIMG {
    height: 100%;
    width: 100%;

}

.exTxt_1 {
    text-align: center;
    padding-bottom: 3%;
    background-image: url('/images/clouds.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
}

.movementTxt {
    font-size: 4em;
}

.deleteTxt {
    text-align: auto;
}

.transferTxt {
    text-align: auto;
}

.createNameTxt {
    color: #707070;
}

/*--------- with us.... part[2] of think big sction -----*/

.thinkBigTXT_1,
#thinkBigTXT_2 {
    text-align: center;
    color: #2D2D35;
}

.thinkBigTXT_1 {
    margin-top: 5%;
    margin-bottom: 10%;
    font-size: 3em;

}

#thinkBigTXT_2 {
    font-size: 3em;
}

.organise {
    color: #EFC411;
}

/*------------ Think big section's BUTTON ------*/

.topBtn {
    padding: 0;
    margin: 0;
}

.bottomBtn {
    font-size: 90%;
}


.signUp_1 {
    font-size: 200%;
    color: #E5D0CC;
}



/* think big - BUTTON - END */

/*------------------------Think Big Section End------------------------*/

/*------------------------Organised/floating ------------------------*/

.organisedHdr,
.organisedTxt {
    font-size: 500%;
}

.organisedHdr {
    color: #BFACB5;
}

.organisedTxt {
    color: #7F7B82;
    text-align: center;
}

.wuTxt {
    font-size: 700%;
    text-align: center;
}

.floatIMG {
    width: 80%;

}

/*------------------------Organised/floating End------------------------*/

/* ------------ Fonts ------------*/

@font-face {
    font-family: 'circular';
    src: url('/fonts/CircularStd-Book.otf');
}

@font-face {
    font-family: 'quicksand';
    src: url('/fonts/Quicksand-Regular.otf');
}

@font-face {
    font-family: 'quicksand_Light';
    src: url('/fonts/Quicksand-Light.otf');
}

/* ------------ Fonts END ------------*/

/* ---------Scrollbar customization---------------- */

/* width */

::-webkit-scrollbar {
    width: 2px;
}

/* Track */

::-webkit-scrollbar-track {
    background: grey;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #2D2D35;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* ---------Scrollbar customization END---------------- */

/* --------------Break-points Media Queries --------------*/

@media only screen and (max-width: 600px) {
    .exTxt_1 {
        background-image: none;
    }
}
